[user]
	email = me@benyaamin.com
	name = Benyamin Eskandari
	signingkey = me@benyaamin.com
[init]
	defaultBranch = main
[core]
	autocrlf = input

[commit]
	gpgsign = true

[tag]
	gpgSign = true
[lfs]
	concurrenttransfers = 3
[lfs "customtransfer.xet"]
	path = git-xet
	args = transfer
	concurrent = true
